<html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<header>
  <div class="header">
  <a class="header-title">Faryal's Awesome Catalog</a>
  <a class="button float-right" href="{{url_for('gdisconnect')}}">Logout</a>
</div>
</header>
<body>
  <div class="container form-box">
    <h2>Add an Item</h2>
  <form class="form" method="post" action="{{ url_for('newItem') }}">
    Name:<br>
    <input class="input" type="text" name="name">
    <br>Description:<br>
    <textarea class="input" name="description" rows="10" cols="30"></textarea>
    <br>Category:<br>
    <select class="input" name="category">
      {% for category in categories %}
      <option value="{{category.id}}">{{category.name}}</option>
      {% endfor %}
    </select>
    <br><input type="submit" class="button" value="Create">
  </form>
</div>
</body>
</html>
